<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SMALL.USER">

    <!--<sql id="Base_Column_List" >-->
        <!--id, username, password, email, phone, question, answer, role, create_time, update_time, WEIXIN_OPEN_ID-->
    <!--</sql>-->
    <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
        <!--SELECT-->
        <!--<include refid="Base_Column_List" />-->
        <!--FROM    MMALL_USER-->
        <!--WHERE   ID = #{ID,jdbcType=INTEGER}-->
    <!--</select>-->

    <select id="getAllUser" resultType="com.small.vo.USER">
        <![CDATA[
        SELECT ID
                ,WEIXIN_OPEN_ID
                ,USERNAME
                ,PASSWORD
                ,EMAIL
                ,PHONE
                ,QUESTION
                ,ANSWER
                ,ROLE
                ,date_format(CREATE_TIME,'%Y-%m-%d %T') AS CREATE_TIME
                ,date_format(UPDATE_TIME,'%Y-%m-%d %T') AS UPDATE_TIME
        FROM    MMALL_USER
        ORDER BY ID DESC
        ]]>
    </select>

    <select id="checkUsername" parameterType="String" resultType="int">
        <![CDATA[
        SELECT  COUNT(1)
        FROM    MMALL_USER
        WHERE   USERNAME = #{username}
        ]]>
    </select>

    <select id="checkEmail" parameterType="String" resultType="int">
        <![CDATA[
        SELECT  COUNT(1)
        FROM    MMALL_USER
        WHERE   EMAIL = #{email}
        ]]>
    </select>

    <select id="selectLogin" parameterType="map" resultType="USER">
        <![CDATA[
        SELECT  ID
               ,WEIXIN_OPEN_ID
               ,USERNAME
               ,PASSWORD
               ,EMAIL
               ,PHONE
               ,QUESTION
               ,ANSWER
               ,ROLE
               ,date_format(CREATE_TIME,'%Y-%m-%d %T') AS CREATE_TIME
               ,date_format(UPDATE_TIME,'%Y-%m-%d %T') AS UPDATE_TIME
        FROM    MMALL_USER
        WHERE   USERNAME = #{USERNAME}
        AND     PASSWORD = #{PASSWORD}
        ]]>
    </select>

    <insert id="register" parameterType="USER">
        <![CDATA[
        INSERT INTO MMALL_USER
                    (
                     WEIXIN_OPEN_ID
                    ,USERNAME
                    ,PASSWORD
                    ,EMAIL
                    ,PHONE
                    ,QUESTION
                    ,ANSWER
                    ,ROLE
                    ,CREATE_TIME
                    ,UPDATE_TIME
                    )
        VALUES
                    (
                     #{WEIXIN_OPEN_ID}
                    ,#{USERNAME}
                    ,#{PASSWORD}
                    ,#{EMAIL}
                    ,#{PHONE}
                    ,#{QUESTION}
                    ,#{ANSWER}
                    ,#{ROLE}
                    ,now()
                    ,now()
                    )
        ]]>
    </insert>

    <select id="selectQuestionByUsername" parameterType="String" resultType="String">
        <![CDATA[
        SELECT  QUESTION
        FROM    MMALL_USER
        WHERE   USERNAME = #{USERNAME}
        ]]>
    </select>

    <select id="checkAnswer" parameterType="map" resultType="int">
        <![CDATA[
        SELECT  COUNT(1)
        FROM    MMALL_USER
        WHERE   USERNAME = #{USERNAME}
        AND     QUESTION = #{QUESTION}
        AND     ANSWER = #{ANSWER}
        ]]>
    </select>

    <update id="updatePasswordByUsername" parameterType="map">
        <![CDATA[
        UPDATE    MMALL_USER
        SET       PASSWORD = #{PASSWORDNEW}
                  , UPDATE_TIME = NOW()
        WHERE     USERNAME = #{USERNAME}
        ]]>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.small.vo.USER" >
        UPDATE MMALL_USER
        <set >
            <if test="USERNAME != null" >
                USERNAME = #{USERNAME,jdbcType=VARCHAR},
            </if>
            <if test="PASSWORD != null" >
                PASSWORD = #{PASSWORD,jdbcType=VARCHAR},
            </if>
            <if test="EMAIL != null" >
                EMAIL = #{EMAIL,jdbcType=VARCHAR},
            </if>
            <if test="PHONE != null" >
                PHONE = #{PHONE,jdbcType=VARCHAR},
            </if>
            <if test="QUESTION != null" >
                QUESTION = #{QUESTION,jdbcType=VARCHAR},
            </if>
            <if test="ANSWER != null" >
                ANSWER = #{ANSWER,jdbcType=VARCHAR},
            </if>
            <if test="ROLE != null" >
                ROLE = #{ROLE,jdbcType=INTEGER},
            </if>
            <if test="CREATE_TIME != null" >
                CREATE_TIME = #{CREATE_TIME,jdbcType=TIMESTAMP},
            </if>
            <if test="UPDATE_TIME != null" >
                UPDATE_TIME = now(),
            </if>
            <if test="WEIXIN_OPEN_ID != null" >
                WEIXIN_OPEN_ID = #{WEIXIN_OPEN_ID,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="checkEmailByUserID" parameterType="com.small.vo.USER" resultType="int">
        <![CDATA[
        SELECT    COUNT(1)
        FROM      MMALL_USER
        WHERE     EMAIL = #{EMAIL}
        AND       ID != #{ID}
        ]]>
    </select>


</mapper>