<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SMALL.PRODUCT">

    <insert id="insertNewProduct" parameterType="com.small.vo.PRODUCT">
        <![CDATA[
        INSERT INTO MMALL_PRODUCT
                    (
                    CATEGORY_ID
                    ,NAME
                    ,SUBTITLE
                    ,MAIN_IMAGE
                    ,SUB_IMAGES
                    ,DETAIL
                    ,PRICE
                    ,STOCK
                    ,STATUS
                    ,CREATE_TIME
                    ,UPDATE_TIME
                    )
        VALUES
                    (
                     #{CATEGORY_ID}
                    ,#{NAME}
                    ,#{SUBTITLE}
                    ,#{MAIN_IMAGE}
                    ,#{SUB_IMAGES}
                    ,#{DETAIL}
                    ,#{PRICE}
                    ,#{STOCK}
                    ,#{STATUS}
                    ,now()
                    ,now()
                    )
        ]]>
    </insert>


    <update id="updateByPrimaryKey" parameterType="com.small.vo.PRODUCT">
        <![CDATA[
         UPDATE MMALL_PRODUCT
            SET CATEGORY_ID = #{CATEGORY_ID}
                ,NAME = #{NAME}
                ,SUBTITLE = #{SUBTITLE}
                ,MAIN_IMAGE = #{MAIN_IMAGE}
                ,SUB_IMAGES = #{SUB_IMAGES}
                ,DETAIL = #{DETAIL}
                ,PRICE = #{PRICE}
                ,STOCK = #{STOCK}
                ,STATUS = #{STATUS}
                ,CREATE_TIME = #{CREATE_TIME}
                ,UPDATE_TIME = NOW()
            WHERE ID = #{ID}
        ]]>
    </update>


    <update id="updateByPrimaryKeySelective" parameterType="com.small.vo.PRODUCT">
        UPDATE MMALL_PRODUCT
        <set>
            <if test="CATEGORY_ID != null">
                CATEGORY_ID = #{CATEGORY_ID}
            </if>
            <if test="NAME != null">
                ,NAME = #{NAME}
            </if>
            <if test="SUBTITLE != null">
                ,SUBTITLE = #{SUBTITLE}
            </if>
            <if test="MAIN_IMAGE != null">
                ,MAIN_IMAGE = #{MAIN_IMAGE}
            </if>
            <if test="SUB_IMAGES != null">
                ,SUB_IMAGES = #{SUB_IMAGES}
            </if>
            <if test="DETAIL != null">
                ,DETAIL = #{DETAIL}
            </if>
            <if test="PRICE != null">
                ,PRICE = #{PRICE}
            </if>
            <if test="STOCK != null">
                ,STOCK = #{STOCK}
            </if>
            <if test="STATUS != null">
                ,STATUS = #{STATUS}
            </if>
            <if test="CREATE_TIME != null">
                ,CREATE_TIME = #{CREATE_TIME}
            </if>
            <if test="UPDATE_TIME != null">
                ,UPDATE_TIME = now()
            </if>
        </set>
        WHERE ID = #{ID}
    </update>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="com.small.vo.PRODUCT">
        <![CDATA[
        SELECT  ID
                ,CATEGORY_ID
                ,NAME
                ,SUBTITLE
                ,MAIN_IMAGE
                ,SUB_IMAGES
                ,DETAIL
                ,PRICE
                ,STOCK
                ,STATUS
                ,date_format(CREATE_TIME,'%Y-%m-%d %T') AS CREATE_TIME
                ,date_format(UPDATE_TIME,'%Y-%m-%d %T') AS UPDATE_TIME
        FROM    MMALL_PRODUCT
        WHERE ID = #{ID}
        ]]>
    </select>

    <select id="selectProductList" resultType="com.small.vo.PRODUCT">
        <![CDATA[
        SELECT  ID
                ,CATEGORY_ID
                ,NAME
                ,SUBTITLE
                ,MAIN_IMAGE
                ,SUB_IMAGES
                ,DETAIL
                ,PRICE
                ,STOCK
                ,STATUS
                ,date_format(CREATE_TIME,'%Y-%m-%d %T') AS CREATE_TIME
                ,date_format(UPDATE_TIME,'%Y-%m-%d %T') AS UPDATE_TIME
        FROM    MMALL_PRODUCT
        ORDER BY ID ASC
        ]]>
    </select>

    <select id="selectProductListByNameKeyword" parameterType="java.lang.String" resultType="com.small.vo.PRODUCT">
         SELECT  ID
                ,CATEGORY_ID
                ,NAME
                ,SUBTITLE
                ,MAIN_IMAGE
                ,SUB_IMAGES
                ,DETAIL
                ,PRICE
                ,STOCK
                ,STATUS
                ,date_format(CREATE_TIME,'%Y-%m-%d %T') AS CREATE_TIME
                ,date_format(UPDATE_TIME,'%Y-%m-%d %T') AS UPDATE_TIME
        FROM    MMALL_PRODUCT
        <where>
            <if test="_parameter != null">
                AND NAME LIKE #{_parameter}
            </if>
        </where>
    </select>







</mapper>